body{
  font-family:  helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin:0;
  background-color: #ffffff;
}
/* Global*/
.tároló{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header ul{
  margin:0;
  padding: 0;
}
.gomb1{
  height: 37px;
  background: #7284a8;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff;
}
.sötét{
  padding: 15px;
  background: #834055;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;

}

.kék{
  padding: 15px;
  background: #abbbd5;
  border: #7284a8 2px solid;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sötétkék{
  padding: 15px;
  background: #2b323f;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header **/
header{
  background: #2b323f;
  color: #f8adcc;

  padding-top: 30px;
  min-height: 70px;


}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float:left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #név{
  float:left;
}
header #név h1{
  margin:0;
}
header nav{
  float:right;
  margin-top: 10px;
}

header .kiemelés, header .jelenlegi a{
  color: #abbbd5;
  font-weight: bold;
}
header a:hover{
  color: #f8adcc;
  font-weight: bold;
}

/* Üdvözlő rész */
#üdvözlő{
  min-height: 400px;
  background: url('../img/showcase.jpg') no-repeat 0 -400px;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffffff;
}
#üdvözlő h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#üdvözlő p{
  font-size:20px;
}

/* Kérdések sáv*/
#kérdés{
  padding: 15px;
  color: #ffffff;
  background: #2b323f;
}
#kérdés h1{
  float:left;

}
#kérdés form{
  float:right;
  margin-top: 15px;
}
#kérdés input[type="text"]{
  padding:4px;
  height:25px;
  width: 250px;
}

/*Ikonok*/

#ikonok{
  margin-top:20px;
}
#ikonok .doboz{
  text-align:center;
  float:left;
  width:30%;
  padding:10px;
  color: #2b323f;

}

#ikonok .doboz img{
  width:90px;
}

#ikonok a{
  text-decoration: none;
  color: #2b323f;
}



/*oldalsáv*/
aside#oldalsáv{
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#oldalsáv p{

}

#kérdésmező form{
  float:none;
  margin-top: 15px;

}
#kérdésmező input[type="text"]{
  height:30px;
  width: 99%;
  margin-right: 20px;
  margin-bottom: 15px;
}

.gomb2{
  width:100%;
  height: 37px;
  background: #7284a8;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff;


}

aside#kérdéssáv{
  float: right;
  width: 30%;
  margin-top:90px;
  background-color: #2b323f;
}

/*elérhetőség*/

ul#elérhetőség li{
  list-style: none;

}
article#főrész-szöveg{
  float: left;
  width: 65%;
}

#főrész-szöveg img{
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 50px;
  display: block;
  width: 100%;
  height: auto;
  border: 2px solid;

}

#főrész-szöveg p{
  margin-left: 20px;
  text-align: justify;
}
#főrész-szöveg h1{
  font-size: 25px;
}

#főrész-szöveg h3{
  margin-left: 20px;
}

#oldalsáv img{
  width: 100%;
  margin-top:30px;
}




/* galéria*/

.főcím {
    text-align: center;
    font-size: 2.0em;

    padding: 20px 40px 0 40px;
    color: #2b323f;
}

.galéria {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galéria img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.képdoboz {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.képcím {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.áttetsződoboz {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.képdoboz:hover img {
  transform: scale(1.1);
}

.képdoboz:hover .áttetsződoboz {
  background-color:rgba(0, 0, 0, 0.5);
}

.képdoboz:hover .képcím {
  transform: translateY(-20px);
  opacity: 1.0;
}

.képdoboz:hover {
  cursor: pointer;
}

.képcím > p:nth-child(2) {
  font-size: 0.8em;
}

.áttetsző {
  opacity: 0.5;
}

/* terv */

.lista{
  text-align: justify;
}

/*footer*/

footer{
  padding: 20px;
  margin-top:20px;
  color:#ffffff;
  background-color: #994c61;
  text-align: center;

}

/* media queries */
@media(max-width: 768px){
  header #név,
  header nav,
  header nav li,
  #kérdés h1,
  #kérdés form,
  #ikonok .doboz,
  article#főrész-szöveg,
  aside#oldalsáv{
    float: none;
    text-align: center;
    width: 100%;
  }

  aside#kérdéssáv{
    width: auto;
    float: left;
    margin-left: 35px;
  }

  header{
    padding-bottom:20px;
  }

  #üdvözlő h1{
    margin-top:40px;
  }


  #kérdés button{
    display:block;
    width:100%;
  }

  #kérdés input[type="text"]{
    width:100%;
    margin-bottom: 5px;
  }

  #főrész-szöveg p{
    margin-left: 0;
  }

  .lista{
    text-align: justify;
  }



}
